/* --------------------------------------------
 * FILE: src/components/layout/layout.module.scss
 * --------------------------------------------
 */

 @use "src/assets/styles/variables";
 @use "src/assets/styles/mixins";
 
 .layout {
   display: grid;
   margin: 0 auto;
   gap: variables.$layout-gap-mobile; // Use mobile gap by default
   max-width: variables.$layout-width;
   grid-template-columns: repeat(12, 1fr);
 
   @include mixins.breakpoint-sm {
     gap: variables.$layout-gap; // Use larger gap on larger screens
   }
 }