/* --------------------------------------------
 * FILE: src/components/search-toggle/search-toggle.module.scss
 * --------------------------------------------
 */
 .searchToggleButton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  svg {
    /* Default color for the search icon */
    stroke: hsl(var(--color-foreground));
    transition: stroke 400ms;
  }

  &:hover svg {
    stroke: hsl(var(--color-primary));
  }

  &.active svg {
    /* If search is active, color the icon */
    stroke: hsl(var(--color-primary));
  }
}
