/* src/components/search-toggle/search-toggle.module.scss */
@use "src/assets/styles/mixins";
@use "src/assets/styles/variables";

.searchToggleButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  vertical-align: middle;

  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  svg {
    display: block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    stroke: hsl(var(--color-foreground));
    transition: stroke 400ms;
  }

  &:hover svg {
    stroke: hsl(var(--color-primary));
  }

  &.active svg {
    stroke: hsl(var(--color-primary));
  }
}