@charset "UTF-8";
@use "variables";
@use "functions";

:root {
  color-scheme: light;

  @each $key, $value in variables.$light-color-palette {
    --color-#{$key}: #{functions.hslToList($value)};
  }

  /* ---- Table colors for LIGHT MODE ---- */
  --color-table-border: #d2dbe1;         /* lines in light mode */
  --color-table-header-bg: #eaedf0;      /* header row color */
  --color-table-row-odd: #ffffff;        /* first row color */
  --color-table-row-even: #f6f8fa;       /* second row color */
}

.dark {
  color-scheme: dark;

  @each $key, $value in variables.$dark-color-palette {
    --color-#{$key}: #{functions.hslToList($value)};
  }

  /* ---- Table colors for DARK MODE ---- */
  --color-table-border: #373d46;         /* lines in dark mode */
  --color-table-header-bg: #21262d;      /* header row color */
  --color-table-row-odd: #0d1117;        /* first row color */
  --color-table-row-even: #151b23;       /* second row color */
}
